@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: Poppins, "sans-serif";
}

/* width */
::-webkit-scrollbar {
  width: 7px;
}

/* Track */
::-webkit-scrollbar-track {
  background: rgb(231, 206, 255); 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(168 85 247); 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(107, 28, 182); 
}